SecretariaClientWS/src/main/resources/Profesor.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is JAX-WS RI 2.2.3-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is JAX-WS RI 2.2.3-b01-. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://service.ws.secretariaIT.formacion.atmira.com/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://service.ws.secretariaIT.formacion.atmira.com/"
	name="SecretariaServiceImplService">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://service.ws.secretariaIT.formacion.atmira.com/"
				schemaLocation="Profesor.xml" />
		</xsd:schema>
	</types>
	<message name="AddProfesor">
		<part name="parameters" element="tns:AddProfesor" />
	</message>
	<message name="AddProfesorResponse">
		<part name="parameters" element="tns:AddProfesorResponse" />
	</message>
	<message name="AddAlumno">
		<part name="parameters" element="tns:AddAlumno" />
	</message>
	<message name="AddAlumnoResponse">
		<part name="parameters" element="tns:AddAlumnoResponse" />
	</message>
	<message name="calcularPromedioProfesor">
		<part name="parameters" element="tns:calcularPromedioProfesor" />
	</message>
	<message name="calcularPromedioProfesorResponse">
		<part name="parameters" element="tns:calcularPromedioProfesorResponse" />
	</message>
	<portType name="SecretariaServiceImpl">
		<operation name="AddProfesor">
			<input
				wsam:Action="http://service.ws.secretariaIT.formacion.atmira.com/SecretariaServiceImpl/AddProfesorRequest"
				message="tns:AddProfesor" />
			<output
				wsam:Action="http://service.ws.secretariaIT.formacion.atmira.com/SecretariaServiceImpl/AddProfesorResponse"
				message="tns:AddProfesorResponse" />
		</operation>
		<operation name="AddAlumno">
			<input
				wsam:Action="http://service.ws.secretariaIT.formacion.atmira.com/SecretariaServiceImpl/AddAlumnoRequest"
				message="tns:AddAlumno" />
			<output
				wsam:Action="http://service.ws.secretariaIT.formacion.atmira.com/SecretariaServiceImpl/AddAlumnoResponse"
				message="tns:AddAlumnoResponse" />
		</operation>
		<operation name="calcularPromedioProfesor">
			<input
				wsam:Action="http://service.ws.secretariaIT.formacion.atmira.com/SecretariaServiceImpl/calcularPromedioProfesorRequest"
				message="tns:calcularPromedioProfesor" />
			<output
				wsam:Action="http://service.ws.secretariaIT.formacion.atmira.com/SecretariaServiceImpl/calcularPromedioProfesorResponse"
				message="tns:calcularPromedioProfesorResponse" />
		</operation>
	</portType>
	<binding name="SecretariaServiceImplPortBinding" type="tns:SecretariaServiceImpl">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="AddProfesor">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="AddAlumno">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="calcularPromedioProfesor">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="SecretariaServiceImplService">
		<port name="SecretariaServiceImplPort" binding="tns:SecretariaServiceImplPortBinding">
			<soap:address location="http://localhost:8080/SecretariaIT/ws/Profesor" />
		</port>
	</service>
</definitions>